{% extends "base.html" %}

{% block title %}
	Delete {{ selected | length }} Users
{% endblock %}

{% block content %}
	<h1>{{ self.title() }}</h1>

	<form method="POST" action="">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		<div class="list-group">
			<div class="list-group-item">
				<div class="row">
					<div class="col-auto">
						<input type="checkbox" aria-label="Select all" disabled>
					</div>
					<div class="col-2">
						Username
					</div>
					<div class="col-2">Display name</div>
					<div class="col-2">Website</div>
					<div class="col-2">Donate URL</div>
					<div class="col"></div>
					<div class="col-auto">
					</div>
				</div>
			</div>

			{% for user in selected %}
				<div class="list-group-item">
					<div class="row">
						<div class="col-auto">
							<input type="checkbox" name="selected" value="{{ user.username }}"
								aria-label="Select {{ user.username }}" checked>
						</div>
						<div class="col-2">
							<a target="_blank" href="{{ url_for('users.profile', username=user.username) }}">{{ user.username }}</a>
						</div>
						<div class="col-2">{{ user.display_name }} </div>
						<div class="col-2">
							{% if user.website_url %}
								<a target="_blank" href="{{ user.website_url }}">{{ user.website_url }}</a>
							{% endif %}
						</div>
						<div class="col-2">
							{% if user.donate_url %}
								<a target="_blank" href="{{ user.donate_url }}">{{ user.donate_url }}</a>
							{% endif %}
						</div>
						<div class="col"></div>
						<div class="col-auto">
							<a class="btn btn-secondary btn-sm" target="_blank" href="{{ url_for('users.modtools', username=user.username) }}">Modtools</a>
							<a class="btn btn-secondary btn-sm" target="_blank" href="{{ url_for('admin.audit', username=user.username) }}">Audit log</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<input class="btn btn-danger mt-5" type="submit" name="confirm" value="Confirm">

	</form>
{% endblock %}
