{% macro render_pkgtile(package, show_author) -%}
	{% set meta = package.get_translated(load_desc=False) %}
	<a class="packagetile flex-fill" href="{{ package.get_url('packages.view') }}">
		<div class="packagecard">
			<div class="ratio ratio-16x9">
				<img src="{{ package.get_thumb_or_placeholder() }}" loading="lazy">
			</div>
			<div class="body">
				<h3>{{ meta.title }}</h3>
				{% if show_author %}
					<p class="subtitle">
						{{ package.author.display_name }}
					</p>
				{% endif %}
			</div>
			{% if not package.approved %}
				<span class="badge ms-1 {% if package.state == package.state.CHANGES_NEEDED %}bg-danger{% else %}bg-warning{% endif %}">
					{{ package.state.value }}
				</span>
			{% endif %}
		</div>
		<div class="info-wrapper">
			<div class="info">
				<p>
					{{ meta.short_desc }}
				</p>
				<p>
					<i class="fas fa-star-half-alt"></i>
<!--					<span class="count">-->
						{% set summary = package.get_review_summary() %}
						+{{ summary[0] }} / {{ summary[1] }} / -{{ summary[2] }}
<!--					</span>-->
				</p>
			</div>
		</div>
	</a>
{% endmacro %}

{% macro render_pkggrid(packages, show_author=True) -%}
	<div class="grid-300px gap-2 p-0">
		{% for p in packages %}
			{{ render_pkgtile(p, show_author) }}
		{% else %}
			<p class="packagetile"><i>{{ _("No packages available") }}</i></p>
		{% endfor %}
		{% if packages %}
			{% for i in range(4) %}
				<div class="packagetile flex-fill"></div>
			{% endfor %}
		{% endif %}
	</div>
{% endmacro %}
